<script type="text/javascript">
  RED.nodes.registerType("atcmithermometer-scanner", {
    category: "function",
    color: "#a6bbcf",
    defaults: {
      name: { value: "" }
    },
    inputs: 1,
    outputs: 1,
    icon: "bluetooth.png",
    label: function () {
      return this.name || "atcmithermometer-scanner";
    }
  });
</script>

<script type="text/html" data-template-name="atcmithermometer-scanner">
  <div class="form-row">
    <label for="node-input-interval"
      ><i class="fa fa-clock"></i> Interval</label
    >
    <input
      type="number"
      id="node-input-interval"
      placeholder="time between scans"
    />
  </div>
</script>

<script type="text/html" data-help-name="atcmithermometer-scanner">
  <p>
    Listen on bluetooth advertisement data from Xiaomi's thermometer with custom
    flash:
    https://github.com/atc1441/ATC_MiThermometer#advertising-format-of-the-custom-firmware
  </p>
</script>
